body{
  background-color: grey;
}


#plateau{
  width: 680px;
  height:680px;
  background-color: white;
  margin: auto;
  border-style: solid;
  position: relative;
}
#pion{
  width: 38px;
  height: 38px;
  background-color: blue;
  border-style: double;
  border-color: grey;
  position: absolute;
  border-width: 1px;
}
#murs{
position: relative;
}
.mur{
  background-color: green;
  width: 40px;
  height: 40px;
  margin-left: 40px;
  margin-top: 40px;
  position: absolute;
}
.murC{
  background-color: #d32044;
  width: 40px;
  height: 40px;
  position: absolute;
}
.bombe{
  background-color: pink;
  width: 40px;
  height: 40px;
  position: absolute;

}
.mob1{
  background-color: red;
  width: 40px;
  height: 40px;
  position: absolute;
}
.mob2{
  background-color: red;
  width: 40px;
  height: 40px;
  position: absolute;
}
.mob3{
  background-color: red;
  width: 40px;
  height: 40px;
  position: absolute;
}
.mob4{
  background-color: red;
  width: 40px;
  height: 40px;
  position: absolute;
}
.mob5{
  background-color: red;
  width: 40px;
  height: 40px;
  position: absolute;
}
